body{
    font-family: 'Libre Baskerville', serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.color-change{color: rgb(255, 115, 0);}
p{
    font-size: 20px;
}
.top{
    display: flex;
    margin-top: 5%;
}
.half-width{
        width: 50%;  
        padding-left: 5%;
        padding-top: 40px;
}
.half-width img{
    width: 60%;
    padding-top: 20px;
    padding-left: 10%;
}
.link{
    margin-top: 20px;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 174, 0),rgb(255, 94, 0));
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border-radius: 12px;
    }
    .link2{
        margin-top: 20px;
        text-decoration: none;
        background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 0, 119));
        padding: 10px 20px;
        color: white;
        font-weight: 900;
        border-radius: 12px;
    }
#intro{
    padding-top: 20px;
      }
.frame-text{width: 30%;
    padding-left: 60%;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: 10%;
   }
.background{
    background-image: url(photos/Frame\ 58.jpg);
   background-size: cover;
    background-repeat: no-repeat;
    }
.recipies-intro{
    display: flex;
    margin-top:10%;
   padding-left: 30%;
   padding-right: 30%;
}
    #name{
    padding-left: 300px;
    padding-bottom: 20px;
    color: rgb(252, 92, 0);
   }
   .red-color{
       color: rgb(255, 4, 66);
   }
   .gray-color{
       color: rgb(156, 155, 155);
   }
#center{
    padding-left: 318px;
}
.recipies{
    padding: 30px;
    height: 440px;
    width: 23%;
    float: none;
    margin-left: 5%;
    box-shadow: 10px 10px 40px black;
    margin-top: 40px;
    border-radius: 15px;
}
.recipies img{
    width: 100%;
    border-radius: 15px;
}
    
.link-r{
    text-decoration: none;
    background-image: linear-gradient(rgb(49, 48, 48),rgb(116, 115, 115));
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    border-radius: 12px;
    margin-left: 30%;
    }
    .top2{
        display: flex;
        
        padding-left: 35%;
        margin-top: 10%;
       }
#all{
    box-shadow: 10px 10px 40px black;
    display: flex;
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 12px;
}
.last{
    padding-left: 15px;
    padding-right: 15px;
}        
    #yt{
        margin-top: 20px;
        text-decoration: none;
        background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 0, 34));
        padding: 10px 20px;
        color: white;
        font-weight: 900;
        border-radius: 12px;
    }
    #fb{
        margin-top: 20px;
        text-decoration: none;
        background-image: linear-gradient(rgb(0, 140, 255),rgb(0, 195, 255));
        padding: 10px 20px;
        color: white;
        font-weight: 900;
        border-radius: 12px;
    }
    #ig{
        margin-top: 20px;
        text-decoration: none;
        background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 0, 140));
        padding: 10px 20px;
        color: white;
        font-weight: 900;
        border-radius: 12px;
    }
   .end{
    height: 200px;
    background-color: rgb(63, 62, 62);
    color: rgb(243, 241, 241);
    text-align: center;
    padding-top: 30px;
    margin-top: 10%;
    }
    .extra{
        display: flex;
        
    background-color: rgb(63, 62, 62);
    color: rgb(243, 241, 241);
    padding-top: 30px;
    }
    #extra1{
        margin-left: 40%;
        display: flex;
        margin-top: 30px;
    }
    .extra-text{
        padding-left: 30px;
    }
  

